* {
  font-family: Verdana, sans-serif, Tahoma;
}

html{
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: row;
  
}

.nav-link {
  text-decoration: none;
}

#navbar ul li:first-of-type {
  border-top: 1px solid black;
}

#navbar ul li {
  list-style: none;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid black;
  display: flex;
  padding:20px 10px;
}

header{
  font-size: 1.5em;
  font-weight: 600;
  padding-top:15px;
}

#navbar ul li:hover {
  background-color: lightgrey;
  color: white;
}

a{
  color: black;
}

#navbar-head {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  padding:20px;
}

#navbar ul {
  position: relative;
  padding-left: 0;
  left: 0;
  margin:0;
}

p{
  text-align: justify;
}

ul li{
  text-align: justify;
}

#div-navbar {
  position: fixed;
  border-right: 2px solid grey;
  left: 0;
  height: 100%;
  width: 300px;
  max-width: 300px;
  margin-top: -8px;
  margin-bottom:0px;
  padding: 10px 0 0 0;
  margin-left: 0;
}
.code {
  background-color: rgb(241, 241, 241);
  padding: 10px;
  border-radius: 10px;
  max-width: 700px;
  margin-left: 30px;
  margin-right: 20px;
}

.code code {
  font-family: monospace;
  font-size: 1.2em;
}
#main-doc {
  position: absolute;
  left: 300px;
  padding: 0 0 0 15px;
}

@media (max-width: 768px) {
  body {
    display: block;
    position: inherit;
    margin:10px;
  }
  #div-navbar {
    border-right: 0;
    border-bottom: 2px solid black;
    margin-top: inherit;
    width: 100vw;
    height:425px;
    max-width: none;
    position: relative;
    top: 0;
    background-color: white;
  }
  .code{
    max-width: 500px;
  }
  #main-doc {
    position: static;
    z-index: -1;
    width: 100%;
  }
}
